<<<<<<< HEAD
.content {
=======
.container {
>>>>>>> e69e95bcad6174d070b18bedd07c0c463ceff5c2
    display: flex;
}

img {
    width: 350px;
<<<<<<< HEAD
}

button {
    border-radius: 0;
    border: none;
    transition: .7s;
}

button:hover {
    background-color: #999999;
    transition: .7s;
=======
>>>>>>> e69e95bcad6174d070b18bedd07c0c463ceff5c2
}